.header{
    background-color: #000000;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    transition: 1s;
}
.header__logo{
    width: 100px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    object-fit: contain;
}
.header__searchIcon{
    background-color: orange;
    padding: 5px;
    height: 22px !important;
}
.header__nav{
    display: flex;
    justify-content: space-evenly;
}
.header__link{
    color: white;
    text-decoration: none;
}
.header__option{
display: flex;
flex-flow: column;
margin-left: 10px;
margin-right: 10px;
}
.header__search{
    display: flex;
    align-items: center;
    flex: 1;
}
.header__searchinput{
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}
.header__option1{
    font-size: 10px;
}
.header__option2{
    font-size: 13px;
    font-weight: 800;
}
.header__optionBasket{
    display: flex;
    align-items: center;
}
.header__basketCount{
    margin-left: 10px;
    margin-right: 10px;
}
.header__div{
    display: flex;
}
.none{
    transition: 1s;
    display: none;
    
}

@media screen and (min-width: 200px) and (max-width: 640px) {
.header{
    flex-flow: row wrap;
    justify-content: space-between;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
  }
  